<div>
    <h1>Analytics</h1>
    <ul>
        <li>Total Tickets: <%= stats.totalTickets %></li>
        <li>Open Tickets: <%= stats.openTickets %></li>
        <li>Closed Tickets: <%= stats.closedTickets %></li>
        <li>High Priority Tickets: <%= stats.highPriorityTickets %></li>
    </ul>
</div>